@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

/* FONT WEIGHTS  */
.font-100 {
  font-weight: 100;
  font-style: normal;
}

.font-200 {
  font-weight: 300;
  font-style: normal;
}

.font-300 {
  font-weight: 300;
  font-style: normal;
}

.font-400 {
  font-weight: 400;
  font-style: normal;
}

.font-500 {
  font-weight: 500;
  font-style: normal;
}

.font-600 {
  font-weight: 600;
  font-style: normal;
}

.font-700 {
  font-weight: 700;
  font-style: normal;
}

.font-900 {
  font-weight: 900;
  font-style: normal;
}

/* FONT-SIZES */

.text-60px {
  font-size: 60px !important;
}

.text-45px {
  font-size: 45px !important;
}

.text-44px {
  font-size: 44px !important;
 }

.text-42px {
  font-size: 42px !important;
}

.text-35px {
  font-size: 35px !important;
}

.text-30px {
  font-size: 30px !important;
}

.text-26px {
  font-size: 24px !important;
}

.text-25px {
  font-size: 25px !important;
}

.text-24px {
  font-size: 24px !important;
}

.text-22px {
  font-size: 22px !important;
}

.text-21px {
  font-size: 21px !important;
}

.text-20px {
  font-size: 20px !important;
}

.text-18px {
  font-size: 18px !important;
}

.text-16px {
  font-size: 16px !important;
}

.text-15px {
  font-size: 15px !important;
}

.text-14px {
  font-size: 14px !important;
}

.text-12px {
  font-size: 14px !important;
}

.text-10px {
  font-size: 10px !important;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.default-gradient {
  background: linear-gradient(180deg, #8091af 0%, #424242 130%) !important;
}

.primary-gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 33.89%,
    rgba(0, 30, 57, 0.8) 100%
  ) !important;
}

.secondary-gradient {
  background: linear-gradient(
    240.36deg,
    #ffffff 13.7%,
    #ced5e0 48.89%,
    #8091af 81.85%
  ) !important;
}

.third-gradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.34) 33.89%,
    rgba(0, 0, 0, 0.8) 100%
  ) !important;
}

/* HOVER STYLING */

.hover-underlined:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* use text-capitalize */
.capitalize {
  text-transform: lowercase !important;
}

.capitalize::first-letter {
  text-transform: uppercase !important;
}
